<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PLC Dashboard</title>
</head>
<body style="background-color:gray;">
<h2>PLC Info Test</h2>

<p>PLC ID: <span th:text="${plcId}"></span></p>
<p>PLC Status: <span th:text="${plcStatus}"></span></p>
<p>Line Texts:</p>
<ul>
    <li th:each="text : ${lineTexts}" th:text="${text}"></li>
</ul>

<div th:each="group : ${groupedBarcodes}" class="line-group">
    <h2>Hat ID: <span th:text="${group.key}">Line ID</span></h2>

    <div th:each="barcode : ${group.value}" class="barcode-item">
        <strong>Barcode:</strong> <span th:text="${barcode.barcodeId.barcode}">Barkod</span><br>
        <strong>Line ID:</strong> <span th:text="${barcode.barcodeId.lineId}">Line ID</span><br>
        <strong>Status:</strong> <span th:text="${barcode.status}" class="error">Status</span><br>
        <!--        <strong>API Result:</strong> <span th:text="${barcode.apiResult}">API Result</span><br>-->
        <!--        <strong>Last Status Date:</strong> <span th:text="${barcode.lastStatusDate}">Last Status Date</span><br>-->
        <!--        <strong>Creation Date:</strong> <span th:text="${barcode.creDate}">Created Date</span>-->
    </div>
</div>


</body>
</html>
